/*body {background-color: rgba(26, 108, 225, 0.03);}*/
body {background-color: #f5f6fa; }
.content {padding-bottom: 70px;}
.sub-content {padding: 8px;}
.btn-xxs {padding-top: 2px; padding-bottom: 2px; padding-left: 6px; padding-right: 6px; font-size: 12px;}
