/*body {background-color: rgba(26, 108, 225, 0.03);}*/
body {background-color: #f5f6fa;font-size: 0.80rem;!important;}
.content {padding-bottom: 70px;}
.sub-content {padding: 8px;}
.btn-group {width: 100%}
.link-color-gray{color: #0f1649}
.btn-xxs {padding-top: 2px; padding-bottom: 2px; padding-left: 6px; padding-right: 6px; font-size: 12px; margin: 2px;}
.vertical-border-list {border: 1px solid #1b2e4b;border-radius: 3px;padding: 3px!important;}
.nav-classic .vertical-border-list + .vertical-border-list {margin-top: 4px;}
.vertical-border-list.active { background: #49597b!important; color: #fff!important;}
.debt {background-color: rgba(35, 204, 239, 0.2);}
.table-white {background: #fff;box-shadow: 6px 0 6px rgba(0,0,0,0.3);}
.table-white thead {background-color: #3b4863;color: #fff}
.table-white th, .table-white td, .table-white thead th, .table-white tbody + tbody {border-color: #99a0ae;}
.container-paginate{margin-top: 20px}
.page-link{color: #3b4763;}
.page-link:hover{color: #3b4763;}
.page-link:focus{box-shadow: none}
.page-item.active .page-link {background-color: #3b4763;border-color: #3b4763;}
.remove-from-ttn {color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
    padding: 3px 3px 1px 3px;
    border-radius: 4px;
}
.remove-from-ttn:hover {
    cursor: pointer;
}

#editor-container {
    height: auto;
    min-height: 100%;
}
#scrolling-container {
    height: 250px;
    min-height: 100%;
    overflow-y: auto;
}
.ql-toolbar {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1;
}

.accordion-shop {border: 1px solid #89aae0;border-radius: 3px;padding: 1px 8px;margin-bottom: 4px;}

/*select2*/
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #3c4962;
}
.select2-container--default .select2-search--dropdown .select2-search__field:focus {
    outline: none;
    border-color: #3c4962;
}
